*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

#cursor{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: linear 0.2s;
}
 #main h1{
    font-size: 10vw;
    color: white;
    
 }